node_modules/
dist/
build/
.env
.DS_Store
*.log
coverage/
*.tmp
*.bak
*.swp
*.cache
*.pid
*.orig
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
*.iml
*.eslintrc.json
*.eslintcache
*.prettierrc
*.stylelintrc
*.babelrc
*.tsbuildinfo
*.d.ts
*.map
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.jar
*.war
*.ear